*{box-sizing: border-box;}

body{
    width: 1200px;
    font-family: sans-serif;
    margin :auto;
}
.logo{
    width: 80px;
    height: 80px;
}
header{
    margin: auto;
    height:70px;
    background-color: #0066ad;
    width: 1200px;
    height: 100px;


}
.menu{
    float: right;
    margin-left: 20px;
    margin-bottom: 30px;
}
.banner{
    width: 1200px;
    height: 300px;
    margin: auto;
}
.banner img{
    width: 1200px;
    height: 300px;
}
.event{
    float:left; 
    margin: 8px;
}
.timeline{
    margin-left: 50px;
    margin-top: 70px;
    width: 250px;
    height: 250px;
}
ul li{
margin-top:75px;
}
.footer{
    margin-top: 100px;
    height:70px;
    background-color: #5e5e5c;
    width: 1200px;
    height: 100px;
    color: indianred;
    text-align: center;
    text-decoration: underline;
}
a{
    text-decoration: none;
}
