*{box-sizing: border-box;}
body{
    font-family: "Malgun Gothic", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
ul, p, div, h1, h2, h3{
    margin: 0;
    padding: 0;
}
.container{
    width: 680px;
    max-width: 90%;
    margin: 40px auto 50px;
    padding: 0 40px 60px;
    border: 1px solid #eaedf3;
    background-color: #fff;
}
h1.title{
    font-size: 2.3em;
    padding: 30px 0 16px;
    border-bottom: 1px solid #eaedf3;
    text-align: center;
    letter-spacing: -3px;
    word-spacing: 8px;
}
article{
    margin-top: 30px;
}
.joinbox{
    border: 1px solid #eaedf3;
    border-radius: 8px;
    overflow: hidden;
}
.joinbox a{
    display: block;
    text-decoration: none;
    text-align: center;

}
.p-join .joinbox-body a p{
    color: #000;
    text-align: center;
    letter-spacing: -1px;
    font-size: 1em;
}
.p-join .joinbox-body a p::before{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    margin: 40px auto;
    background: url(../img/albaheaven.png) no-repeat;
    background-size: 100px;
}
.joinbox-body span.small{
    color: #959ba6;
    font-size: 0.8em;
    font-family: "Malgun Gothic", sans-serif;
    display: inline-block;
    margin-bottom: 35px;

}
.p-join .joinbox-bottom{
    background-color: #ffe000;
    text-align: center;
}
.joinbox-bottom a{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    line-height: 50px;
}
ul.sns{
    list-style-type: none;
    display: flex;
    margin-top: 20px;
    border: 1px solid #eaedf3;
    border-radius: 8px;
    margin-bottom: 40px;
}
ul.sns li{
    width: 25%;
    padding-left: 50px;
    line-height: 50px;
    position: relative;
}
ul.sns li a{
    text-decoration: none;
    color: #424346;
}
ul.sns li:not(:first-child){
    border-left: 1px solid #eaedf3;


}
ul.sns li::before{
    position: absolute;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/signin.png) no-repeat;
    background-size: 158px auto;
    top: 10px;
    left:20px;
}
ul.sns li.naver::before{
    background-position: -36px -40px;
}
ul.sns li.kakao::before{
    background-position: -54px -40px;
}
ul.sns li.facebook::before{
    background-position: -18px -40px;
}
ul.sns li.apple::before{
    background-position: -0px -40px;
}